<div>
    <canvas id="barChart">
    </canvas>
</div>


@{ChartJSCore.Models.Chart chart = (ChartJSCore.Models.Chart)ViewData["chart"];}

<a type="button" asp-controller="Quiz" asp-action="ExportData" class="btn btn-dark"> Export Data</a>


<script src="~/lib/Chart.js/chart.min.js">

</script>

<script type="text/javascript">

    @Html.Raw(chart.CreateChartCode("barChart"));

</script>
