@model PerfectPoliciesFE.Models.Option

@{
    ViewData["Title"] = "Create";


    List<SelectListItem> questions = ViewBag.allQuestions;

    int optionNUmber = ViewBag.latestoptionNumber;
}

<h1>Create</h1>

<h4>Option</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model=>model.OptionID)
            @*<div class="form-group">
                <label asp-for="OptionID" class="control-label"></label>
                <input asp-for="OptionID" class="form-control" />
                <span asp-validation-for="OptionID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="OptionText" class="control-label"></label>
                <input asp-for="OptionText" class="form-control" required/>
                <span asp-validation-for="OptionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OptionNumber" class="control-label"> </label>
                <input asp-for="OptionNumber" class="form-control" type="text" value="@optionNUmber" min="0"  required hidden/>
                <span asp-validation-for="OptionNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CorrectAnswer" /> @Html.DisplayNameFor(model => model.CorrectAnswer)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="QuestionID" class="control-label">Question Title</label>
                <select asp-for="QuestionID" asp-items="questions" class="form-control"></select>
                <span asp-validation-for="QuestionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
