
  
   
<h1 class="mb-4"> Help Page</h1>

<h3> CReate a new teacher</h3>




<div class="row border">
    <div class="col-6">
        <img src="~/images/create a quiz.png" height="400px" width="auto" />
    </div>
   
    <div class="col-6 text-center d-flex align-items-center" >
        <p class=""> in the above image creating a quiz</p>
    </div>
 </div>




    @*<div class="container">
       <div>
           <p style="text-align:center; font-size:large; font-weight:bold" > Perfect Policies Help</p>
       </div>
        </div>*@
