
<h1 class="mb-4"> Help Center</h1>



<div style="margin-bottom:5px">
    <a class="btn btn-primary" data-toggle="collapse" href="#login" role="button" aria-expanded="false" aria-controls="login" style="margin-bottom: 3px; width: 320px; text-align: left ;background-color:mistyrose; color: darkblue">how to login</a>
</div>

<div class="row">
    <div class="collapse multi-collapse" id="login">
        <div class="row  text-center d-flex align-items-center border" style="position: relative; margin-bottom: 3px; margin-left: 10px">
            <div class="col-auto">
                <img src="~/images/login2.png" height="400px" width="auto" />
            </div>

            <div class="col-auto">
                <p style="text-align:justify">
                    1- Click login button in any page, and it will redirect you to login page. <br>
                    2- Enter your userName and password and then you are logged in.
                </p>
            </div>
        </div>
    </div>
</div>





<div style="margin-bottom:5px">

    <a class="btn btn-primary" data-toggle="collapse" href="#createQuiz" role="button" aria-expanded="false" aria-controls="createQuiz" style="margin-bottom: 3px; width: 320px; text-align: left; background-color: mistyrose; color: darkblue">how to create new Quiz </a>
</div>

<div class="row">
    <div class="collapse multi-collapse" id="createQuiz">
        <div class="row  text-center d-flex align-items-center border" style="position: relative; margin-bottom: 3px;margin-left: 10px ">
            <div class="col-auto">
                <img src="~/images/createQuiz1.png" height="400px" width="auto" />
            </div>



            <div class="col-auto">
                <p style="text-align:justify">
                    1- click Quizes link in any page and you will be redirected to quizzes list page. <br>
                    2- click on create new quiz link, and it will redirect you to create new quiz page.
                </p>
            </div>

            <div class="row  text-center d-flex align-items-center" style="margin-left:10px">
                <div class="col-auto">
                    <img src="~/images/create a quiz 2.png" height="400px" width="auto" />
                </div>


                <div class="col-auto">
                    <p style="text-align:justify">
                        1- in create quiz page, fill all fields and click create, and then the new quiz will be created and you will find it in quizzes list.
                    </p>
                </div>
            </div>
        </div>

    </div>

</div>




<div style="margin-bottom:5px">
    <a class="btn btn-primary" data-toggle="collapse" href="#organizationQuizzes" role="button" aria-expanded="false" aria-controls="organizationQuizzes" style=" background-color: mistyrose; color: darkblue">how to show quizzes of your organization</a>
</div>

<div class="row">
    <div class="collapse multi-collapse" id="organizationQuizzes" style="position:relative">
        <div class="row text-center d-flex align-items-center border" style="position:relative; margin-bottom:3px; margin-left:10px">
            <div class="col-auto" style="">
                <img src="~/images/organizationQuizzes.png" height="auto" width="auto" />
            </div>

            <div class="col-auto">
                <p style="text-align:justify">
                    1- if you are not in home page, click home link and you will be redirected to home page. <br>
                    2- type your organization name in the search box and you will get list with all quizzes created by your organization
                </p>
            </div>
        </div>
    </div>
</div>


<div style="margin-bottom:5px">
    <a class="btn btn-primary" data-toggle="collapse" href="#createQuestion" role="button" aria-expanded="false" aria-controls="createQuestion" style="margin-bottom: 3px; width: 320px; text-align: left; background-color: mistyrose; color: darkblue">how to create a question</a>
</div>

<div class="row">
    <div class="collapse multi-collapse" id="createQuestion">
        <div class="row  text-center d-flex align-items-center border" style="position: relative; margin-bottom: 3px; margin-left: 10px">
            <div class="col-auto">
                <img src="~/images/createQuestion1.png" height="400px" width="auto" />
            </div>

            <div class="col-3 text-center d-flex align-items-center">
                <p style="text-align:justify">
                    1- click Questions link in any page and you will be redirected to Questions list page. <br><br>
                    2- click on create new question link, and it will redirect you to create new question page.
                </p>
            </div>

            <div class="row  text-center d-flex align-items-center" style="margin-left:10px">
                <div class="col-auto">
                    <img src="~/images/createQuestion2.png" height="400px" width="auto" />
                </div>

                <div class="col-3 text-center d-flex align-items-center">
                    <p style="text-align:justify">
                        1- in create question page, fill all fields and click create, and then the new quiz will be created and you will find it in quizzes list.<br><br>
                        2- note that image field will be filled automatically when you drag and drop photo in the box at the end of the page.<br><br>
                        3- image is optional to be added, as you can create a question without image.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="margin-bottom:5px">
    <a class="btn btn-primary" data-toggle="collapse" href="#createOption" role="button" aria-expanded="false" aria-controls="createOption" style="margin-bottom: 3px; width: 320px; text-align: left; background-color: mistyrose; color: darkblue">how to create an option</a>
</div>

<div class="row">
    <div class="collapse multi-collapse" id="createOption">
        <div class="row  text-center d-flex align-items-center border" style="position: relative; margin-bottom: 3px; margin-left: 10px">
            <div class="col-auto">
                <img src="~/images/createOption1.png" height="400px" width="auto" />
            </div>

            <div class="col-3 text-center d-flex align-items-center">
                <p style="text-align:justify">
                    1- click Options link in any page and you will be redirected to Options list page. <br><br>
                    2- click on create new option link, and it will redirect you to create new option page.
                </p>
            </div>

            <div class="row  text-center d-flex align-items-center" style="margin-left:10px">
                <div class="col-auto">
                    <img src="~/images/createOption2.png" height="400px" width="auto" />
                </div>

                <div class="col-3 text-center d-flex align-items-center">
                    <p style="text-align:justify">
                        1- in create option page, fill all option text, select if it is a correct answer and select the question that you want to link this option to,
                        then click create and this will create new option.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



<div style="margin-bottom:5px">
    <a class="btn btn-primary" data-toggle="collapse" href="#editQuiz" role="button" aria-expanded="false" aria-controls="editQuiz" style="margin-bottom:3px ; width:320px ; text-align:left; background-color:mistyrose; color:darkblue">how to edit quiz</a>
</div>

<div class="row">
    <div class="collapse multi-collapse" id="editQuiz">
        <div class="row  text-center d-flex align-items-center border" style="position: relative; margin-bottom: 3px; margin-left: 10px">
            <div class="col-auto">
                <img src="~/images/EditQuiz1.1.png" height="auto" width="700" />
            </div>
          
            <div class="col-3 text-center d-flex align-items-center" style="margin-top:50px">
                <p style="text-align:justify">
                    1- when you ar in quizzes list page, click on edit link, it will redirect you to login page. <br><br>
                    2- login using your user name and Password, and then you will be redirected to edit quiz page.
                </p>
            </div>

            <div class="row  text-center d-flex align-items-center" style="margin-left:10px ; margin-top:15px">
                <div class="col-auto">
                    <img src="~/images/EditQuiz2.png" height="400px" width="auto" />
                </div>

                <div class="col-auto">
                    <p style="text-align:justify">
                        1- Edit values you want in the text boxes, and then click save button.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="margin-bottom:5px">
    <a class="btn btn-primary" data-toggle="collapse" href="#report" role="button" aria-expanded="false" aria-controls="report" style="margin-bottom: 3px; width: 320px; text-align: left; background-color: mistyrose; color: darkblue">how to display summary report</a>
</div>

<div class="row">
    <div class="collapse multi-collapse" id="report">
        <div class="row  text-center d-flex align-items-center border" style="position: relative; margin-bottom: 3px; margin-left: 10px">
            <div class="col-auto">
                <img src="~/images/Report1.png" height="400px" width="auto" />
            </div>

            <div class="col-3 text-center d-flex align-items-center" style="margin-top:5px">
                <p style="text-align:justify">
                    1- when you are in quizzes list page, click on show report link, and it will displays a chart for you showing number of question for each quiz like the below image.
                </p>
            </div>

            <div class="row  text-center d-flex align-items-center" style="margin-left:10px">
                <div class="col-auto">
                    <img src="~/images/Report2.png" height="400px" width="auto" />
                </div>
            </div>
        </div>
    </div>
</div>



<div style="margin-bottom:5px">
    <a class="btn btn-primary" data-toggle="collapse" href="#Exportreport" role="button" aria-expanded="false" aria-controls="Exportreport" style="margin-bottom: 3px; width: 320px; text-align: left; background-color: mistyrose; color: darkblue">how to export the report to a CSV file</a>
</div>

<div class="row">
    <div class="collapse multi-collapse" id="Exportreport">
        <div class="row  text-center d-flex align-items-center border" style="position: relative; margin-bottom: 3px; margin-left: 10px">
            <div class="col-auto">
                <img src="~/images/exportReport.png" height="400px" width="auto" />
            </div>

            <div class="col-3 text-center d-flex align-items-center" style="margin-top:5px">
                <p style="text-align:justify">
                    1- when you are in the report page, click button Export data at the bottom of the page , and you will find a downloaded CSV file in your browswer contains report data.
                </p>
            </div>

          
        </div>
    </div>
</div>
